# setup for the OpenAI API
OPENAI_API_BASE_URL="https://openrouter.ai/api/v1"
OPENAI_API_KEY="..."

# setup for the model
MODEL_NAME="mistralai/mistral-medium-3.1"
TEMPERATURE="0.3"
MAX_TOKENS="8000"

# setup for the web search tool
ENABLE_TOOLS="true"
OLLAMA_API_KEY="" # for web search/fetch

# setup for the conversations
ANOTHER_MESSAGE_PROBABILITY="0.65"
MAX_CONVERSATION_LENGTH="20"